/TwoSideStack/nbproject/private/
/TwoSideStack/build/
/TestadorDeExpressoes/nbproject/private/
/TestadorDeExpressoes/build/
/TestadorDeExpressoes/dist/
/SimuladoProva_Q1/nbproject/private/
/SimuladoProva_Q1/build/
/SimuladoProva_Q2/nbproject/private/
/SimuladoProva_Q2/build/