/TwoSideStack/nbproject/private/
/TwoSideStack/build/
/TestadorDeExpressoes/nbproject/private/
/TestadorDeExpressoes/build/
/TestadorDeExpressoes/dist/
/SimuladoProva_Q1/nbproject/private/
/SimuladoProva_Q1/build/
/SimuladoProva_Q2/nbproject/private/
/SimuladoProva_Q2/build/
/Prova1_Q1/nbproject/private/
/Prova1_Q1/build/
/Prova1_Q2/nbproject/private/
/Prova1_Q2/build/
/Josephus/nbproject/private/
/Josephus/build/
/Hanoi/nbproject/private/
/Hanoi/build/
/ArvoreBin_BuscaExt/nbproject/private/
/ArvoreBin_BuscaExt/build/